.maf-responsive {
  .padding {
    padding: min(5em, 5%);
  }

  .fontsize {
    font-size: clamp(1.8rem, 10vw, 5rem);
    /*
  min, pref, max
  vw not zoomable = so we use calc
  */
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
  }

  /* for covers */
  .image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  /* for 100% height */
  .maxheight {
    height: 100vh;
    height: 100dvh;
  }
}
